.cardPokemonBox {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100dvh;
  backdrop-filter: blur(10px);
  z-index: 1000;
}

.cardAddPokemon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 24px;
  background-position: center left, bottom 50% center;
  background-size: 50%, auto;
  background-repeat: no-repeat;
  backdrop-filter: blur(10px);
  width: 100%;
  color: #fff;
  background: light-dark(var(--mantine-color-white), var(--mantine-color-black));
}

.cardPokemonImg {
  // top: -30px;
  width: 100%;
  transform: scale(0.5);
  filter: saturate(1.9);

  @media screen and (max-width: 1224px) {
    width: 200px;
    transform: scale(0.7);
    top: -60px;
  }

  @media screen and (max-width: 480px) {
    transform: scale(0.4);
    top: 12px;

    width: auto;
    left: -40px;
  }
}

.pokemonName {
  position: relative;
  font-size: clamp(1.725rem, 5vw, 2rem);
  line-height: 100%;
  text-align: center;
  text-transform: capitalize;
  margin-top: auto;
}

.pokemonName::before {
  left: -18px;
  transform: translateY(-20%);
}

.pokemonName::after {
  right: -18px;
  transform: translateY(-20%);
}