.card-pokemon-box {
  width: 100%;
  z-index: 1000;
}

.no-scroll {
  overflow: hidden;
}

.card-pokemon {

  border-left-color: var(--mantine-color-white);
  border-left-width: 10px;

  & p {
    text-decoration: none;
    color: var(--mantine-color-text);
  }

  &:hover {
    border-left-width: 10px;
    border-left-color: var(--selected-color);
  }
}

.card-pokemon-img {
  position: relative;
  width: 100%;
  max-height: 180px;
  margin-right: auto;
  margin-left: auto;
  object-fit: contain;
  margin-top: calc(1.5rem* var(--mantine-scale));
  margin-bottom: calc(1.5rem* var(--mantine-scale));

  @media screen and (max-width: 1224px) {

    transform: scale(1.1);
  }

  @media screen and (max-width: 426px) {
    transform: scale(0.8);
  }
}

.card-pokemon-name {
  position: relative;
  font-size: clamp(1.725rem, 5vw, 2rem);
  line-height: 120%;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
}